<div class="row">
  <div class="col-md-12">
    <h2>{{model.name}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h5>Artist: {{model.artist}}</h5>
  </div>
  <div class="col-md-3">
    <h5>Style: {{model.dance}}</h5>
  </div>
  <div class="col-md-3">
    <h5>BPM: {{model.bpm}}</h5>
  </div>
  <div class="col-md-3">
    <h5>Length: {{model.length}}</h5>
  </div>
</div>

<div class="row">
  {{#link-to "songs"}} &lt; Back to songs list {{/link-to}}
</div>
